# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/
.eggs/

# Env
.env
*.env
.venv/
venv/
env/

# Data
*.db
*.sqlite

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/
